---
interface Props {
    error: unknown
}
const { error } = Astro.props
---
<div>{error instanceof Error ? error.message : 'Unknown error'}</div>

<img class="https://cdn.discordapp.com/attachments/1005196410846711809/1345917487166001224/Patetitco.jpg?ex=67c64ad6&is=67c4f956&hm=3d9c0ac742e7bf0db145a0b22eb82f1a4bd186ac6beb12d986c73a8370ee7418&"></img>