---
interface Props {
    error: unknown
}
const { error } = Astro.props
---
<div style="background-image: url('https://cdn.discordapp.com/attachments/1005196410846711809/1345914521000214614/patetico.jpg?ex=67c64813&is=67c4f693&hm=a0a3222d5aa91336a0c177ac7662991f8a40d65daab960c56557a870021d48b9'); background-size: cover; background-position: center;" 
    class="min-h-screen flex items-center justify-center text-white text-2xl">
    {error instanceof Error ? error.message : 'Unknown error'}
</div>
