---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Anime - OtakuPlayhub">
  
  <section class="text-center py-10">
        <h1 class="text-4xl font-bold">Anime</h1>
        <p class="mt-4 text-lg">¡Anime de la comunidad!</p>
  </section>

  <div class="grid grid-cols-3 gap-4">
    <div class="anime-section">
      <a href="/Anime/pupa">
        <img src="/images/Pupa.jpg" alt="Pupa">
        <h3>Pupa</h3>
      </a>
    </div>
    <div class="anime-section">
      <a href="/Anime/another">
        <img src="/images/another.jpg" alt="Another">
        <h3>Another</h3>
      </a>
    </div>
    <div class="Anime-section">
      <a href="/Anime/Boku-no-piko">
        <img src="/images/Boku no piko.jpg" alt="Boku no piko">
        <h3>Boku no piko</h3>
      </a>
    </div>
    { /* no se que poner aca */ }
  </div>


</Layout>