---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Faq - OtakuPlayhub">

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center text-center mb-3">
                <div class="col-lg-8 col-xl-7">
                    <span class="text-muted">F.A.Q</span>
                    <h1 class="display-5 fw-bold">Frequently Asked Questions</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit Consequatur quidem eius cum voluptatum quasi delectus.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row g-3 g-md-4">
                        <div class="col-lg-6">
                            <div class="card bg-light p-4">
                                <div class=" d-flex">
                                    <div class="text-muted me-4">
                                        <svg class="bi bi-question-circle-fill" fill="currentColor" height="32" viewBox="0 0 16 16" width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path></svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-2 mb-lg-4 fw-bold">¿Qué es OtakuPlayhub?</h5>
                                        <p class="m-0">OtakuPlayhub es un sitio web dedicado al anime y a los juegos, creado para la comunidad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light p-4">
                                <div class=" d-flex">
                                    <div class="text-muted me-4">
                                        <svg class="bi bi-question-circle-fill" fill="currentColor" height="32" viewBox="0 0 16 16" width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path></svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-2 mb-lg-4 fw-bold">¿Puedo recomendar animes o juegos en la plataforma?</h5>
                                        <p class="m-0">¡Por supuesto! La comunidad está abierta a recomendaciones de anime y juegos. Puedes compartir tus favoritos en los foros o grupos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light p-4">
                                <div class=" d-flex">
                                    <div class="text-muted me-4">
                                        <svg class="bi bi-question-circle-fill" fill="currentColor" height="32" viewBox="0 0 16 16" width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path></svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-2 mb-lg-4 fw-bold">¿Hay eventos o torneos en OtakuPlayhub?</h5>
                                        <p class="m-0">Sí, organizamos eventos temáticos, concursos de anime, torneos de videojuegos y actividades para la comunidad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light p-4">
                                <div class=" d-flex">
                                    <div class="text-muted me-4">
                                        <svg class="bi bi-question-circle-fill" fill="currentColor" height="32" viewBox="0 0 16 16" width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path></svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-2 mb-lg-4 fw-bold">¿Puedo hacer amigos en OtakuPlayhub?</h5>
                                        <p class="m-0">¡Sí! OtakuPlayhub está diseñado para que los fans del anime y los videojuegos se conecten, compartan sus intereses y hagan nuevas amistades.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light p-4">
                                <div class=" d-flex">
                                    <div class="text-muted me-4">
                                        <svg class="bi bi-question-circle-fill" fill="currentColor" height="32" viewBox="0 0 16 16" width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path></svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-2 mb-lg-4 fw-bold">¿Hay un servidor de Discord para la comunidad?</h5>
                                        <p class="mb-2 mb-lg-4 fw-bold">
                                            Contamos con un servidor de Discord donde puedes chatear con otros miembros de la comunidad. Pulsa o haz clic en el siguiente ícono para unirte.
                                            <a href="https://discord.gg/QMY4r4sSnB" class="fab fa-discord text-indigo-400"></a>
                                          </p>
                                        </div>
                                          
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="comentarios">

        <section class="text-center py-10">
            <h1 class="text-4xl font-bold">Comentarios</h1>
          </section>

        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURACIÓN VARIABLE: EDIT & UNCOMMENT THE SECTION BELOW TO INSERT DINAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#dynamic-data
           */
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL; // Replace PAGE_URL with your website's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your website's unique article identifier variable
          };
          */
      
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://https-anime1234r-github-io-web-descargas.disqus.com/embed.js';
            s.setAttribute('data-timestamp', new Date().toString());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </section>
    
     
</Layout>