---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro';
import Slider from '../components/Slider.astro';
---

<Layout title="OtakuPlayhub">
  <section class="text-center py-10">
    <h1 class="text-4xl font-bold">OtakuPlayhub</h1>
    <p class="mt-4 text-lg">¡Donde la pasión se encuentra con la diversión!</p>
  </section>
 
 
  <Slider />

  
  <section class="container mx-auto my-16 space-y-8 lt-md:px-2">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
  
      <li class="flex flex-col h-full gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1345829961038172281/Kakegurui.jpg?ex=67c5f953&is=67c4a7d3&hm=7dfd6e4b56f954dd352636ad17086696198f10ea2a7ec49983be4cfeca997e71&" 
        alt="Anime" 
        class="w-full h-full object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">   
          <div class="flex flex-col flex-grow text-center">
              <p class="font-semibold text-lg text-neutral-800 dark:text-neutral-300">Anime</p>
              <p class="text-sm text-neutral-800 dark:text-neutral-400">¡Explora el fascinante mundo del anime!</p>
          </div>
          <a href="/Anime" class="mt-auto inline-block px-4 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">
              Explorar
          </a>
      </li>
      

      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1345819456475107439/Nier_Automata.jpg?ex=67c5ef8a&is=67c49e0a&hm=3d2040f7c6f7c76aae6bb9f1a777ede0f782aaf5a7ec73b5adb1f4dff93c2ed2&" alt="Juegos" class="w-11/12 h-auto mx-auto rounded-lg object-cover dark:bg-neutral-800 bg-neutral-300">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Juegos</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Sumérgete en emocionantes aventuras y desafíos!</p>
        <a href="/Juegos" class="mt-auto inline-block px-4 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
  
      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1345803098865664143/1-animes-de-musica-ao-no-orchestra.jpg?ex=67c5e04e&is=67c48ece&hm=0d20f91777221a8276f26107142c95f955da997db8ca16d72fd2a1780199b16b&" alt="Musica" class="w-auto h-auto object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Musica</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Descubre nuevas melodías y bandas sonoras asombrosas!</p>
        <a href="/Musica" class="mt-auto inline-block px-4 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
     
      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1345855955795185665/discord.jpg?ex=67c61188&is=67c4c008&hm=16805651f32b51e1607a2f136225ce3be5619757ed9c6c84329c737c29896e25&">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Foro</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Únete a la comunidad otaku y comparte tus experiencias!</p>
        <a href="/Foro" class="mt-auto inline-block px-4 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>

      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1345524029729144914/aninime.jpg?ex=67c4dc67&is=67c38ae7&hm=0cca804650dd6dbc3eb1bd91c418eda0ad929e9ecde89544b11fc4cd03f869a7&" alt="Eventos" class="w-full h-full object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Eventos</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Explora nuestras increíbles recompensas y beneficios!</p>
        <a href="/Eventos" class="mt-auto inline-block px-4 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
    </ul>
  </section>

 <!-- Comentarios chidos y con respeto plis -->
<details class="w-auto flex flex-col justify-center">
  <summary class="mt-90 ml-70 px-10 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Comentarios</summary> 
  <section id="comentarios">
    <section class="text-center py-10">
      <h1 class="text-4xl font-bold hover:underline">Comentarios</h1>
      <p class="mt-4 text-lg font-medium hover:underline">¡Comentarios de la comunidad!</p>
    </section>

    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-anime1234r-github-io-web-descargas.disqus.com/embed.js';
        s.setAttribute('data-timestamp', new Date().toString());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</details>

</Layout>
