---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro';
import Slider from '../components/Slider.astro';
---

<Layout title="OtakuPlayhub">
  <section class="text-center py-10">
    <h1 class="text-4xl font-bold">OtakuPlayhub</h1>
    <p class="mt-4 text-lg">¡Donde la pasión se encuentra con la diversión!</p>
  </section>
 
 
  <Slider />

  
  <section class="container mx-auto my-16 space-y-8 lt-md:px-2">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
  
      <li class="flex flex-col h-full gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1346260667522351155/Kakegurui.webp?ex=67c78a73&is=67c638f3&hm=d68f57077f19a60b831f6ad4d879de69ccdad3f746f616dab500884cf964ae98&" 
        alt="Anime" 
        class="w-full h-full object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">   
          <div class="flex flex-col flex-grow text-center">
              <p class="font-semibold text-lg text-neutral-800 dark:text-neutral-300">Anime</p>
              <p class="text-sm text-neutral-800 dark:text-neutral-400">¡Explora el fascinante mundo del anime!</p>
          </div>
          <a href="/Anime" class="mt-auto inline-block px-4 py-2 border border-neutral-300  rounded-xl hover:border-blue-900 hover:text-white transition-colors duration-300 text-center">
              Explorar
          </a>
      </li>
      

      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1346259587531280487/Nier_Automata.webp?ex=67c78971&is=67c637f1&hm=b761682ce0f95839410b415c10ea23a7e77ea5a612eedf54980edfb4889670a8&" alt="Juegos" class="w-11/12 h-auto mx-auto rounded-lg object-cover dark:bg-neutral-800 bg-neutral-300">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Juegos</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Sumérgete en emocionantes aventuras y desafíos!</p>
        <a href="/Juegos" class="mt-auto inline-block px-4 py-2 border border-neutral-300  rounded-xl hover:border-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
  
      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1346259076971233390/1-animes-de-musica-ao-no-orchestra.webp?ex=67c788f8&is=67c63778&hm=54708c7b80cf4e7272b7ebb3b90ad13a5cefee6e239d0b3399828176af4f1ea4&" alt="Musica" class="w-auto h-auto object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Musica</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Descubre nuevas melodías y bandas sonoras asombrosas!</p>
        <a href="/Musica" class="mt-auto inline-block px-4 py-2 border border-neutral-300  rounded-xl hover:border-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
     
      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1346258487067283486/discord.webp?ex=67c7886b&is=67c636eb&hm=5c5c177b56f7737f4e312bc47e031173c7c270bb71eb64169432647cb42164c4&">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Foro</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Únete a la comunidad otaku y comparte tus experiencias!</p>
        <a href="/Foro" class="mt-auto inline-block px-4 py-2 border border-neutral-300  rounded-xl hover:border-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>

      <li class="flex flex-col gap-2 p-3 border border-neutral-300 dark:border-neutral-800 hover:border-blue-900 dark:hover:border-white rounded-xl hover:shadow-lg transition-shadow duration-300">
        <img src="https://cdn.discordapp.com/attachments/1005196410846711809/1346256100403712102/event.webp?ex=67c78632&is=67c634b2&hm=a1c9c99bcc4d1214c14fbbc5e012045aee506d10d02b1125e56d43ea879306e3&" alt="Eventos" class="w-full h-full object-cover mx-auto rounded-lg bg-neutral-300 dark:bg-neutral-800">
        <p class="text-center font-semibold text-lg text-neutral-800 dark:text-neutral-300">Eventos</p>
        <p class="text-center text-sm text-neutral-600 dark:text-neutral-400">¡Explora nuestras increíbles recompensas y beneficios!</p>
        <a href="/Eventos" class="mt-auto inline-block px-4 py-2 border border-neutral-300  rounded-xl hover:border-blue-900 hover:text-white transition-colors duration-300 text-center">Explorar</a>
      </li>
    </ul>
  </section> border-neutral-300  hover:border-blue-900 dark:hover:border-blue-900

 <!-- Comentarios chidos y con respeto plis -->
<details class="w-auto flex flex-col justify-center">
  <summary class="mt-90 ml-70 px-10 py-2 border border-blue-900 text-blue-900 rounded-xl hover:bg-blue-900 hover:text-white transition-colors duration-300 text-center">Comentarios</summary> 
  <section id="comentarios">
    <section class="text-center py-10">
      <h1 class="text-4xl font-bold hover:underline">Comentarios</h1>
      <p class="mt-4 text-lg font-medium hover:underline">¡Comentarios de la comunidad!</p>
    </section>

    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-anime1234r-github-io-web-descargas.disqus.com/embed.js';
        s.setAttribute('data-timestamp', new Date().toString());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</details>

</Layout>
