---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Musica - OtakuPlayhub">
  <section class="text-center py-10">
    <h1 class="text-4xl font-bold">Musica</h1>
    <p class="mt-4 text-lg">¡Proximamente!</p>
  </section>

 <!-- es una page sin cotenido mas que los comentarios :v -->
  <div>
    <p>¡Estamos trabajando en esta sección! Mientras tanto, puedes explorar otras secciones de OtakuPlayhub.</p>
  </div>

  
</Layout>
