---
import Layout from "../layouts/Layout.astro";
---

<Layout title="<Noticias - OtakuPlayhub">
  <section class="text-center py-10">
        <h1 class="text-4xl font-bold">Noticias</h1>
    <div class="text-center text-3xl">
      <h2>aqui se notifica las noticias de la comunidad</h2>
    </div>
      </section>


<!-- aca no hay nada solo comentario combinado con mi antigua web de wordpress y noc nco-->

  
    
</Layout>