---
import Layout from "../layouts/Layout.astro";
---

<Layout title="<Noticias - OtakuPlayhub">
  <section class="text-center py-10">
        <h1 class="text-4xl font-bold">Noticias</h1>
        <p class="mt-4 text-lg">¡Noticias de la comunidad!</p>
      </section>


<!-- aca no hay nada solo comentario combinado con mi antigua web de wordpress y noc nco-->
  <section class="container mx-auto px-4">
    <h2 class="text-2xl font-semibold">¡Bienvenido al foro de OtakuPlayhub!</h2>

    <p>Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto conmigo.</p>
  </section>

    
</Layout>