---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Anime - OtakuPlayhub">
  
  <section class="text-center py-10">
        <h1 class="text-4xl font-bold">Política de privacidad</h1>
        <p class="mt-4 text-lg">¡Política de privacidad de Otakuplahub!</p>
  </section>

  <section class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-4">Quiénes Somos</h2>
    <p>Otakuplayhub es un sitio web dedicado a proporcionar información actualizada y de alta calidad sobre anime y manga para nuestros usuarios.</p>
    
    <h2 class="text-2xl font-bold mt-6 mb-4">Datos Personales que Recopilamos y su Finalidad</h2>
    
    <h3 class="text-xl font-semibold mt-4">Comentarios</h3>
    <p>Cuando los visitantes dejan comentarios en el sitio, recopilamos la información ingresada en el formulario de comentarios, junto con la dirección IP y la cadena de agente de usuario del navegador para la detección de spam. Y Se genera una cadena anónima (hash) a partir de tu correo electrónico, que puede enviarse al servicio de Gravatar. Consulta su política de privacidad aquí: <a href="https://automattic.com/privacy/" class="text-white hover:text-blue-600">Gravatar Privacy Policy</a>.</p>
    
    <h3 class="text-xl font-semibold mt-4">Archivos Multimedia</h3>
    <p>Si subes imágenes, evita incluir datos de ubicación (GPS EXIF), ya que los visitantes pueden extraer esta información.</p>
    
    <h3 class="text-xl font-semibold mt-4">Formularios de Contacto y Cookies</h3>
    <p>Si dejas un comentario, puedes optar por guardar tu nombre, correo electrónico y sitio web en cookies durante un año para mayor comodidad.</p>
    
    <h3 class="text-xl font-semibold mt-4">Contenido Incrustado</h3>
    <p>Los artículos pueden incluir contenido incrustado de otros sitios (videos, imágenes, etc.), que pueden recopilar datos, usar cookies y rastrear interacciones.</p>
    
    <h2 class="text-2xl font-bold mt-6 mb-4">Análisis y Conservación de Datos</h2>
    
    <h3 class="text-xl font-semibold mt-4">Cuánto tiempo conservamos tus datos</h3>
    <p>Los comentarios y sus metadatos se almacenan indefinidamente para facilitar la aprobación de futuros comentarios. Los usuarios registrados pueden ver, editar o eliminar su información personal.</p>
    
    <h3 class="text-xl font-semibold mt-4">Derechos sobre tus Datos</h3>
    <p>Si tienes una cuenta o has dejado comentarios, puedes solicitar un archivo con los datos recopilados o pedir su eliminación, salvo los que debamos conservar por razones legales.</p>
    
    <h3 class="text-xl font-semibold mt-4">Dónde se envía tu información</h3>
    <p>Los comentarios pueden ser revisados mediante un servicio de detección automática de spam.</p>
  </section>

  
</Layout>