---
import Layout from "../layouts/Layout.astro";
const title = "Acerca de OtakuPlayHub";
---

<Layout title="About - OtakuPlayhub">
  <section class="text-center py-10">
        <h1 class="text-4xl font-bold">Sobre nosotros</h1>
        <p class="mt-4 text-lg">¡Aqui sabras cosas sobre lo que hacemos!</p>
  </section>

  </head>
  <body>
     
        
<div class="mt-6 text-center">
  <h2 class="text-2xl font-bold text-neutral-800 dark:text-neutral-200">
    🎮 ¿Qué puedes encontrar aquí?
  </h2>

  <section class="py-12 px-9 text-left">
      <ul class="mt-4 space-y-2 text-neutral-700 dark:text-neutral-300 ml-4">
        <li>✅ <strong>Foros y comunidad</strong> donde interactuar con otros fans.</li>
        <li>✅ <strong>Eventos y concursos</strong> con premios exclusivos.</li>
        <li>✅ <strong>Tienda y recomendaciones</strong> de productos otaku.</li>
      </ul>
    </div>
  </section>
  

          
  </body>
  </html>
  

</Layout>