---

const link = "ruta/a/enlace";

const imagen = "ruta/a/imagen.jpg";

const titulo = "Título del Juego";
---


<div class="juego-card">
  <a href={link}>
    <img src={imagen} alt={titulo}>
    <h3>{titulo}</h3>
  </a>
</div>