---
const images = [
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261216762531931/osamakefull.webp?ex=67d2bfb6&is=67d16e36&hm=0561fcca953da304e3dfd1593e1956bf08f49faec58de65ba747be56f0cdbaff&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261714592731238/clannadd.webp?ex=67d2c02d&is=67d16ead&hm=d20e9ed7073651f7737c86d48485e09512ed376462c6b0e74075a81c015f881e&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346262096517795940/charlottee.webp?ex=67d2c088&is=67d16f08&hm=4fef743bc5fd48de548f19f86d6fcc743adb98043acc1220c55a53af461153da&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67d32da2&is=67d1dc22&hm=3afbb31020c09156bc6214d3dc013900145ad4df1e289acc5443bfd3206c3e01&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1349461358248464384/Seijirou.webp?ex=67d32f53&is=67d1ddd3&hm=465897a9e00f140b73adcaf33bcd8f0c85796623f6a47f2c57ef1bac0eddd48a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346263007352848494/event.webp?ex=67d2c161&is=67d16fe1&hm=27efaa002f92826463779decb615e28cc774a9316ec4f3bc7c030d6fdc485ede&",

];
---

<section class="image-slider">
    <img id="slider-image" src={images[0]} alt="Slider" class="w-full h-full object-cover rounded-lg shadow-lg">
  </li>
</section>

<script>
  let currentIndex = 0;
  const images = [
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261216762531931/osamakefull.webp?ex=67d2bfb6&is=67d16e36&hm=0561fcca953da304e3dfd1593e1956bf08f49faec58de65ba747be56f0cdbaff&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261714592731238/clannadd.webp?ex=67d2c02d&is=67d16ead&hm=d20e9ed7073651f7737c86d48485e09512ed376462c6b0e74075a81c015f881e&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346262096517795940/charlottee.webp?ex=67d2c088&is=67d16f08&hm=4fef743bc5fd48de548f19f86d6fcc743adb98043acc1220c55a53af461153da&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67d32da2&is=67d1dc22&hm=3afbb31020c09156bc6214d3dc013900145ad4df1e289acc5443bfd3206c3e01&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1349461358248464384/Seijirou.webp?ex=67d32f53&is=67d1ddd3&hm=465897a9e00f140b73adcaf33bcd8f0c85796623f6a47f2c57ef1bac0eddd48a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346263007352848494/event.webp?ex=67d2c161&is=67d16fe1&hm=27efaa002f92826463779decb615e28cc774a9316ec4f3bc7c030d6fdc485ede&",

    


  ];

  
  function updateImage() {
    currentIndex = (currentIndex + 1) % images.length;
    const sliderImage = document.getElementById("slider-image");
    if (sliderImage) {
      (sliderImage as HTMLImageElement).src = images[currentIndex];
    }
  }

  setInterval(updateImage, 7000);
</script>

<style>
  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  img {
    max-width: 50%;
    transition: opacity 0.5s ease-in-out;
  }
</style>