---
const images = [
 "https://cdn.discordapp.com/attachments/1005196410846711809/1345834113789067347/osamakefull.jpg?ex=67c5fd31&is=67c4abb1&hm=fc1400ce355e07ae95b555391ee00b358d2b68af3787b86e6991ddb85a717225&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345834392853020782/clannadd.jpg?ex=67c5fd73&is=67c4abf3&hm=0fd48267cbba9809c6bd35f283bbc36bf919ac679a7b4bfbed7af80068c28e86&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345839681341886504/charlottee.jpg?ex=67c60260&is=67c4b0e0&hm=ae17ddc40870fe688b54e764f9083cfbf4a469acecaf2d8fad00ea075cdb3dc5&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67c5fea2&is=67c4ad22&hm=6dadc29075a544f8f8ab2d29c47ee92d88dd659b4b3e9c47309921d050f24e9a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835061391524001/anotheer.jpg?ex=67c5fe13&is=67c4ac93&hm=be3a3d5ac857739915f97e662d55aa01efd92ad3bcc20a81e51a6e3f94110d80&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345524029729144914/aninime.jpg?ex=67c4dc67&is=67c38ae7&hm=0cca804650dd6dbc3eb1bd91c418eda0ad929e9ecde89544b11fc4cd03f869a7&",

];
---

<section class="image-slider">
    <img id="slider-image" src={images[0]} alt="Slider" class="w-full h-full object-cover rounded-lg shadow-lg">
  </li>
</section>

<script>
  let currentIndex = 0;
  const images = [
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345834113789067347/osamakefull.jpg?ex=67c5fd31&is=67c4abb1&hm=fc1400ce355e07ae95b555391ee00b358d2b68af3787b86e6991ddb85a717225&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345834392853020782/clannadd.jpg?ex=67c5fd73&is=67c4abf3&hm=0fd48267cbba9809c6bd35f283bbc36bf919ac679a7b4bfbed7af80068c28e86&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345839681341886504/charlottee.jpg?ex=67c60260&is=67c4b0e0&hm=ae17ddc40870fe688b54e764f9083cfbf4a469acecaf2d8fad00ea075cdb3dc5&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67c5fea2&is=67c4ad22&hm=6dadc29075a544f8f8ab2d29c47ee92d88dd659b4b3e9c47309921d050f24e9a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835061391524001/anotheer.jpg?ex=67c5fe13&is=67c4ac93&hm=be3a3d5ac857739915f97e662d55aa01efd92ad3bcc20a81e51a6e3f94110d80&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345524029729144914/aninime.jpg?ex=67c4dc67&is=67c38ae7&hm=0cca804650dd6dbc3eb1bd91c418eda0ad929e9ecde89544b11fc4cd03f869a7&",

    


  ];

  
  function updateImage() {
    currentIndex = (currentIndex + 1) % images.length;
    const sliderImage = document.getElementById("slider-image");
    if (sliderImage) {
      (sliderImage as HTMLImageElement).src = images[currentIndex];
    }
  }

  setInterval(updateImage, 7000);
</script>

<style>
  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  img {
    max-width: 50%;
    transition: opacity 0.5s ease-in-out;
  }
</style>