---
const images = [
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261216762531931/osamakefull.webp?ex=67c78af6&is=67c63976&hm=8048d3061b575991bf99ad9656198362dea434e109a0ee7a184ab1e870daf799&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261714592731238/clannadd.webp?ex=67c78b6d&is=67c639ed&hm=d8115e3353f5991a15ba74ada874eff90ef865341ea7084596bb33109bbbec1c&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346262096517795940/charlottee.webp?ex=67c78bc8&is=67c63a48&hm=452c16c8818e397b6f1f6640333d76bb376f4ecd651726db6160d7851b21365a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67c5fea2&is=67c4ad22&hm=6dadc29075a544f8f8ab2d29c47ee92d88dd659b4b3e9c47309921d050f24e9a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835061391524001/anotheer.jpg?ex=67c5fe13&is=67c4ac93&hm=be3a3d5ac857739915f97e662d55aa01efd92ad3bcc20a81e51a6e3f94110d80&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346263007352848494/event.webp?ex=67c78ca1&is=67c63b21&hm=cd221aca9a111af5a4a4fcfa537362d8af66b34db3c25f90305d35128ac14427&",

];
---

<section class="image-slider">
    <img id="slider-image" src={images[0]} alt="Slider" class="w-full h-full object-cover rounded-lg shadow-lg">
  </li>
</section>

<script>
  let currentIndex = 0;
  const images = [
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261216762531931/osamakefull.webp?ex=67c78af6&is=67c63976&hm=8048d3061b575991bf99ad9656198362dea434e109a0ee7a184ab1e870daf799&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346261714592731238/clannadd.webp?ex=67c78b6d&is=67c639ed&hm=d8115e3353f5991a15ba74ada874eff90ef865341ea7084596bb33109bbbec1c&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346262096517795940/charlottee.webp?ex=67c78bc8&is=67c63a48&hm=452c16c8818e397b6f1f6640333d76bb376f4ecd651726db6160d7851b21365a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835664217739264/866.webp?ex=67c5fea2&is=67c4ad22&hm=6dadc29075a544f8f8ab2d29c47ee92d88dd659b4b3e9c47309921d050f24e9a&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1345835061391524001/anotheer.jpg?ex=67c5fe13&is=67c4ac93&hm=be3a3d5ac857739915f97e662d55aa01efd92ad3bcc20a81e51a6e3f94110d80&",
    "https://cdn.discordapp.com/attachments/1005196410846711809/1346263007352848494/event.webp?ex=67c78ca1&is=67c63b21&hm=cd221aca9a111af5a4a4fcfa537362d8af66b34db3c25f90305d35128ac14427&",

    


  ];

  
  function updateImage() {
    currentIndex = (currentIndex + 1) % images.length;
    const sliderImage = document.getElementById("slider-image");
    if (sliderImage) {
      (sliderImage as HTMLImageElement).src = images[currentIndex];
    }
  }

  setInterval(updateImage, 7000);
</script>

<style>
  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  img {
    max-width: 50%;
    transition: opacity 0.5s ease-in-out;
  }
</style>